<div class="abrir-modal animacion fadeIn">
    <div class="modal" style="display: block;" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Shopping Cart</h5>
                    <button type="button" (click)="closeCart()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @if (items.length > 0){
                        <app-cart [items]="items" (idProductEventEmitter)="onDeleteCart($event)"/>
                    }@else {
                        <div class="alert alert-warning">There are no items in the shopping cart!</div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="closeCart()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>